.produtcsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  width: 100%;
}

.listItem {
  flex: 1 1 calc(220px - 16px);
  height: 300px;
  transition: background-color .2s ease-out 0s;
  background-color: var(--black-02);
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &:hover {
    background-color: var(--black-02);
  }
}

.skeleton {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(#fff, 0) 0,
                    rgba(#fff, 0.2) 20%,
                    rgba(#fff, 0.5) 60%,
                    rgba(#fff, 0)
    );
    animation: shimmer 3s infinite;
    content: '';
    width: 100%;
    height: 100%;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@media(max-width: 968px) {
  .produtcsList {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media(max-width: 592px) {
  .produtcsList {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
  }
}