.wrapper {
  margin-bottom: 20px;
}

.disabled {
  opacity: 0.6;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.select {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  flex-grow: 1;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  max-height: 300px;
  overflow-y: auto;
}

.option {
  width: 100%;
  padding: 5px 10px;

  &:hover {
    background-color: var(--black-005);
  }
}

@media(max-width: 900px) {
  .option {
    padding: 15px 10px;

  }
}

.placeholder {
  color: gray;
}

.pending {
  border-color: #999;
}

.error {
  border-color: #f44336;
}

.errMsg {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
}