.main {
  flex: 1 1 auto;
  margin-top: 130px;
}

@media (max-width: 900px) {
  .main {
    margin-top: auto;
  }
}

.cnt {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
  width: 100%;
}

@media(max-width: 860px) {
  .cnt {
    padding: 0 10px;
  }
}