.category {
  margin-bottom: 60px;
}

.info {
  margin: 0 0 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoName {
  font-size: clamp(22px, 3vw, 28px);
  font-weight: 700;
}

.infoLink {
  color: var(--blue);
  font-size: clamp(15px, 2vw, 18px);
  font-weight: 500;
  transition: opacity .2s ease-out 0s, transform .2s ease-out 0s;

  &:hover {
    opacity: .7;
  }

  &:active {
    transform: scale(0.95);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
  gap: 16px;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--black-02);
  max-width: 267px;
  width: 100%;
  transition: background-color .2s ease-out 0s;

  &:hover {
    background-color: var(--black-02);
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.imgCnt {

}

.img {
  object-fit: contain;
  width: 235px;
  height: 200px;
}

.name {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--black-02);
  margin: 16px 0
}

.priceCnt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.discount {
  color: var(--black-05);
  font-size: 16px;
  font-weight: 700;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    height: 1.5px;
    width: 100%;
    background-color: var(--black-05);
  }
}

.price {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
}

.btnCnt {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.btn {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  transition: color .1s ease-out 0s,
              background-color .2s ease-out 0s,
              transform .2s ease-out 0s;

  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  &:active {
    transform: scale(0.98);
  }
}

@media(max-width: 873px) {
  .list {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 4px;
      background-color: transparent;
    }
  }

  .listItem {
    width: 267px;
    min-width: 267px;
  }
}